server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/manga_ovh
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 683272009187-bcfpq3itvoejmmp5glpsu7f7v5rk4kni.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

  data:
    redis:
      host: redis
      port: 6379
    elasticsearch:
      uris: "http://elasticsearch:9200"

aws:
  s3:
    access-key: "AKIAUICITNGLAVF3SP5Q"
    secret-key: "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"
    bucket-name: "levanteak"
    region: "eu-north-1"

telegram:
  bot-token: "6226041888:AAEmupT9lQqQImG8py6DOL7j1tvwOUXEQUI"

oauth2:
  frontend-redirect-url: ${OAUTH2_FRONTEND_REDIRECT:http://localhost:3000/oauth2/callback}

jwt:
  secret: "JcDkzLp98AjXBv4tOwMNefKxRAZ1l3cYQtuVkWyjPEs2nqBHTgoUmavLC9hE7rFN"
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
